.icon-df-size {
  width: 24px;
  height: 24px;
}

.icon-sm-size {
  width: 16px;
  width: 16px;
}

.icon-lr-size {
  width: 36px;
  height: 36px;
}

.icon-el-size {
  width: 54px;
  height: 54px;
}

.cursor-pointer {
  cursor: pointer;
}

.icon-df-color {
  fill: rgb(40, 42, 46);
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
