@import "./colors.scss";

textarea {
  outline: none;
  font-family: Nunito, Poppins, sans-serif;
  resize: none;
  overflow: hidden;
}

.textarea-edit {
  border: none;
  background: var(--color-background-2);
  color: var(--color-text-3);
  border-radius: 6px;
  width: 100%;
  padding: 15px 15px;
  &.title {
    font-size: 28px;
  }
  &.subtitle {
    font-size: 20px;
  }
  &.paragraph {
    font-size: 14px;
  }
  &:focus {
    background: var(--color-background-3);
  }
}

.textarea-setting {
  border: none;
  width: 100%;
  padding: 10px;
  background: var(--color-background-2);
  color: var(--color-text-3);
  border-radius: 6px;
  margin-top: 4px;
  padding: 10px;
  &.title {
    font-size: 28px;
  }
  &.subtitle {
    font-size: 20px;
  }
  &:focus {
    background: var(--color-background-3);
  }
}

.textarea-account {
  font-size: 20px;
  width: 100%;
  border: 0px;
  margin-left: 5px;
  padding: 15px;
  border-radius: 6px;
  color: var(--color-text-3);
  background: var(--color-background-2);
  &:focus {
    background: var(--color-background-3);
  }
}
