@import "../../../styles/colors.scss";

.article-tags {
  .article-tags-container {
    background: var(--color-background-2);
    border-radius: 6px;
    width: 100%;
    display: flex;
    gap: 15px;
    padding: 15px;
    font-size: 14px;
    flex-wrap: wrap;
    .article-tag {
      background: var(--color-background-4);
      color: var(--color-text-3);
      padding: 5px 10px 5px 20px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      .icon {
        cursor: pointer;
        fill: var(--color-icon-2);
      }
    }
    .tag-input {
      font-size: 20px;
      border: none;
      outline: none;
      background: var(--color-background-2);
      color: var(--color-text-3);
    }
  }
}
