@import "../../../styles/colors.scss";

.setting-card-background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--color-transparent-background-1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  .setting-card {
    cursor: default;
    position: relative;
    .icon-back {
      right: 14px;
      top: 14px;
      position: absolute;
      cursor: pointer;
    }
    .setting-card-container {
      box-shadow: var(--box-shadow-medium);
      padding: 20px;
      max-height: 90vh;
      overflow-y: auto;
      width: 1000px;
      border-radius: 6px;
      display: flex;
      flex-direction: column;
      gap: 25px;
      background: var(--color-background-1);
    }
  }
}
